{% load i18n %}
{% load static %}
{% load bootstrap3 %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ site.name }} | {% block head_title %}{% endblock %}</title>

    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon"/>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
	<link href="{% static 'css/main.css' %}" rel="stylesheet">
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
	<link href="{% static 'css/project_extra.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="{% static 'js/html5shiv.js' %}"></script>
	    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}
</head>

<body>
{% if messages %}
    {% for message in messages %}
        <div class="message">
            <p class="alert alert-{{ message.tags }} site-msg">
                {{ message }}
                <a href="#" class="del-msg pull-right"><i class="fa fa-lg fa-times"></i></a>
            </p>
        </div>
    {% endfor %}
{% endif %}

{% block body %}

    <!-- Navigation -->
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 overflow">
                   <div class="social-icons pull-right">
                        <ul class="nav nav-pills">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
             </div>
        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        <h1>
                            <img class="logo" src="{% static 'images/dota/logo.png' %}" alt="logo">
                            {{ site.name }}
                        </h1>
                    </a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="{% url 'view_heros' %}">{% trans "Heros" %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->

    {% block content-wrapper %}{% endblock %}

    <footer id="footer" class="ft">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; {{ site.name }} {% now "Y" %}. {% trans "All Rights Reserved" %}.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->

{% endblock %}

    <!-- jQuery -->
    <script type="text/javascript">
    </script>

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lightbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    {% block extra-page-javascript %}{% endblock %}
</body>

</html>
