{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Dashboard" %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content-wrapper %}
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% trans "Dota World - Dashboard" %}</h1>

                <p>{% trans "Welcome to Dota Wrold" %}</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

    </div>
{% endblock %}
